    <section class="search-language-container">
      <!-- Search field -->
      <mat-form-field [style.text-align]="translationService.isArabic?'right':'left'">
        <mat-label>{{'main.search'|translate}}</mat-label>
        <input matInput type="text" name="searchInput" #searchInput [(ngModel)]="searchValue">
        <button mat-button *ngIf="searchValue" matSuffix mat-icon-button aria-label="Clear"
          (click)="onClearSearchInput()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <!-- Language select -->
      <language-select></language-select>
    </section>

    <!-- Cards List -->
    <cards-list *ngIf="peopleData && peopleData.results && peopleData.results.length > 0" [data]="peopleData">
    </cards-list>
